<div class="container" > 
  <table class="notes-table">
  <thead class="notes-table__head">
    <tr class="notes-table__to-do-card">
      <th class="notes-table__call"></th>
      <th class="notes-table__call">Name</th>
      <th class="notes-table__call">Created</th>
      <th class="notes-table__call">Category</th>
      <th class="notes-table__call">Content</th>
      <th class="notes-table__call">Dates</th>
      <th class="notes-table__call"></th>
      <th class="notes-table__call">
        <svg class="btn-svg btn-svg--white" width="20px" height="20px">
          <use href="./images/symbol-defs-optimized.svg#icon-folder-plus"></use>
        </svg>
      </th>
      <th class="notes-table__call">
        <svg class="btn-svg btn-svg--white" width="20px" height="20px">
          <use href="./images/symbol-defs-optimized.svg#icon-trash-box"></use>
        </svg>
      </th>
    </tr>
  </thead>

    <tbody class="notes-table__body">
      <tr class="notes-table__body-row">
        <td class="notes-table__call">
          <div class="round-icon"></div>
        </td>
        <td class="notes-table__call">Shopping list</td>
        <td class="notes-table__call">April 20,2021</td>
        <td class="notes-table__call">Task</td>
        <td class="notes-table__call">Tomatoes, bread</td>
        <td class="notes-table__call">Dates</td>
        <td class="notes-table__call">
          <button type="button" class="rewrite-task-btn">
            <svg class="btn-svg btn-svg--white-hover" width="20px" height="20px">
              <use href="./images/symbol-defs-optimized.svg#icon-pencil"></use>
            </svg>
          </button>
        </td>
        <td class="notes-table__call">
          <button type="button" class="archive-task-btn">
            <svg class="btn-svg btn-svg--white-hover" width="20px" height="20px">
              <use href="./images/symbol-defs-optimized.svg#icon-folder-plus"></use>
            </svg>
          </button>
        </td>
        <td class="notes-table__call">
          <button type="button" class="delete-task-btn">
            <svg class="btn-svg btn-svg--white-hover" width="20px" height="20px">
              <use href="./images/symbol-defs-optimized.svg#icon-trash-box"></use>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="create-btn" type="button">
    Create note
  </button>

  <table class="general-info-table">
    <thead class="general-info-table__head">
      <tr class="general-info-table__header-row">
        <th class="general-info-table__cell"></th>
        <th class="general-info-table__cell">Note category</th>
        <th class="general-info-table__cell">Active</th>
        <th class="general-info-table__cell">Archived</th>
      </tr>
    </thead>
  
      <tbody class="general-info-table__body">
        <tr class="general-info-table__to-do-card">
          <td class="general-info-table__cell">
            <div class="round-icon"></div>
          </td>
          <td class="general-info-table__cell">Task</td>
          <td class="general-info-table__cell">13</td>
          <td class="general-info-table__cell">12</td>
        </tr>
      </tbody>
    </table>
</div>

